.xpass{
    display: grid;
    grid-template-rows: 1fr 5fr;
  }
.container{
    display:flex;
    justify-content: center;
    height: 500px;
    margin-top: 10vh;
  }
.buts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


