.xpass{
    display: grid;
    grid-template-rows: 1fr 5fr;
  }
.container{
    display:flex;
    justify-content: center;
    height: 450px;
    margin-top: 10vh;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color:#cdcdcb38;
    border-radius: 12px;
    border: 1px solid rgb(241, 244, 248);
    max-width: 30%;
    padding:20px;
    margin-top: 20vh;
  }
.buts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  /*  estilo fondo */
    #fondoandroid {
      display:inline;
      
    }




