.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  margin:auto;
  align-items:center;
  text-align:center;
  margin-top: 5vh;
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color:#cdcdcb38;
  border-radius: 12px;
  border: 1px solid rgb(241, 244, 248);
  max-width: 30%;
  padding:20px;
}

.button1{
  max-width: 300px;
}

label{
	display:flex;
	text-align:center;}

.form-control{
  width: 300px;
  height: 50px;
  margin-bottom:1.5vh;
}

  