.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-around ;
  margin-top: 10vh;
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color:#cdcdcb38;
  border-radius: 12px;
  border: 1px solid rgb(241, 244, 248);
  max-width: 30%;
  padding:20px;
}
.form-control{
    font-size: 20px;
    align-content: center;
    align-items: center;
    align-self: center;

}
@media only screen and (max-width: 800px) {

  .container{
    margin-top: 21vh;
    margin-left: 1vh;
    max-width: 70%;
    min-width: 70%;
    min-height: 65%;
  }

}




