.container{
    margin-top:30vh;
    margin-left: 60vh;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    
    .container{
    margin-top: 21vh;
      margin-left: 4vh;
      max-width: 80%;
    }
    .titulo{
        max-width: 80%;
    }
}