.container{
    margin-top:40vh;
    margin-left: 60vh;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    
    .container{
    margin-top: 21vh;
      margin-left: 3vh;
      max-width: 80%;
  
    }
    .titulo{
        font-size:medium;
    }
}