.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around ;
    margin-top: 15vh;
  }
  
  input, select{width:33%!important;}


  