header {
  background-color: rgb(211, 49, 49);
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

body {
  background-color: rgb(197, 195, 195);
}
.button1 {
  background-color: #e05356;
  border: none;
  color: white;
  padding: 15px 32px;
}
