@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Play&display=swap');

header {
  
  padding: 10px;
  text-align: center;
  color: white; 
  font-family: 'IBM Plex Mono', monospace;
  min-width: 100%;
}
h1{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
  max-width: 60vw;
  margin:auto;
}
body {
  background-color: rgb(197, 195, 195);  
  font-family: 'Play', sans-serif;
}
.button1 {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  border-radius: 10px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 600;
}
.button1:hover{
  background-color: #82a0c7;
}
.button1:focus{
  border: none;
  outline:white solid 3px;
}
.logo{
  width: 80px;
  height: 80px;
}
input{
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(202, 198, 198);
  
}
input:focus{
  outline: none;
  border: 3px solid white;
}
body {
  position: relative;
  margin: 0;
  color:#eeefe3;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}
#fondoandroid {
  display: none;
}
@media only screen and (max-width: 800px) {
  #fondoandroid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    display: inline-flex;
  }
  .container{
    min-width:70%;
      
  }
}
