@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&family=Play&display=swap");

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: black;
}

/*  scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #f0fd71;
}

/*  estilo fondo */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}
#fondoandroid {
  display: none;
}

/*  estilo body */
body {
  position: relative;
  margin: 0;
  color: #eeefe3;
  font-family: "Play", sans-serif;
}
.titulo {
  color: #f0fd71;
}
.container {
  min-width: 30%;
  max-width: 40%;
  font-size: 20px;  
}

/*  estilo botones */
.button1 {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  border-radius: 10px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 600;
}
.button1:hover {
  background-color: #f0fd71;
}
.button1:focus {
  border: none;
  outline: white solid 3px;
}

/*  estilo inputs */
input, textarea {
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(202, 198, 198);
}
input:focus, textarea:focus {
  outline: none;
  border: 3px solid white;
}

/*  estilo "boton" logo */
.hiddenlogo {
  position: fixed;
  border-radius: 50%;
  background-color: none;

  width: 200px;
  height: 200px;
  margin-left: 120px;
  margin-top: 10px;
  z-index: 1000;
}

/*    MEDIAQUERYs */

/*  estilos para android */

@media only screen and (max-width: 800px) {
  /*  estilo fondo */
  #fondoandroid {
    display: inline;
  }
 
/*  estilo body */
  .container{
    min-width: 80%;
    margin-left:5vh;
    max-width: 80%;
  }

  /*  estilo botones */
  .button1 {
    padding: 0px 0px;
  }

  /*  estilo "boton" logo */
  .hiddenlogo {
    background-color: none;
    width: 100px;
    height: 100px;
    margin-top: 9vh;
    margin-left: 2vh;
    font-size: small;
  }
}
/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  flex-direction: column;
  color: white;
  min-width: 300px;
  padding-bottom: 5px;
}
.card .unirse{
  max-width:40px;
  align-self: center;
}
/*  quitar azul de las a */

a:link, a:visited, a:active {
  text-decoration:none;
}


