.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 30vh;
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color:#cdcdcb38;
  border-radius: 12px;
  border: 1px solid rgb(241, 244, 248);
  padding:20px;

}

