.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around ;
    margin-top: 15vh;
  }
.botones{
  flex-direction: row;
  font-size: 15px;
}
#ver{
  height:400px;
  width: 550px;
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color:#cdcdcb38;
  border-radius: 12px;
  border: 1px solid rgb(241, 244, 248);
	  overflow: scroll;
}
  
.button1{
  max-width: 70px;
}

.cardPosiciones {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
  min-width: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  
}
@media only screen and (max-width: 800px) {

  .container{
    margin-top: 21vh;
    

  }
}