.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around ;
    margin-top: 15vh;
  }
  .button1{
    width: 500px;
    height: 100px;
  }


  
  