.buts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.btn-secondary{
  min-width: max-content;
}
.buttonMenu{
    min-width: max-content;
}
.container{
  display:flex;
  justify-content: center;
}
.menu{
  display: grid;
  grid-template-rows: 1fr 5fr;
}
