.buts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.buttonMenu{
  min-width: 150px;
  min-height: 40px;
}

.buttonMenu:hover{
  min-height: 50px;
  min-width: 170px;
}