.card:hover{cursor:pointer;}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding: 10px;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: #cdcdcb38;
    border-radius: 12px;
    border: 1px solid rgb(241, 244, 248);
    max-width: 50%;
}
#my_leagues {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#my_leagues2 {
}
@media only screen and (max-width: 800px) {
  .titles,
  .rows {
    font-size: 20px;
  }
  .container{
    margin-top: 21vh;

  }
}
body {
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(162, 77%, 40%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(218.29, 16%, 83%) 0, transparent 55%);
}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  flex-direction: column;
  color: white;
}


