.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgPerfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    align-self: start;
  }
.h3{
  display: inline-block;
}
.mi{
  color: #e05356;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil{
  display: grid;
  grid-gap: 5vh;
}
body {
  position: relative;
  margin: 0;
}
 video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}
#fondoandroid{
  display: none;
}
@media only screen and (max-width: 800px){
  #fondoandroid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    display:inline-flex;     
  }
}

