.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.h3 {
  display: inline-block;
  color: #f0fd71;
}
.mi {
  color: white;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media only screen and (max-width: 800px) {
  .card{
    min-width: 10px;

  }

  .container{
    margin-top: 21vh;
      }

}


