.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  }
  .imgPerfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    align-self: start;
  }
.h3{
  display: inline-block;
}
.mi{
  color: #f0fd71;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil{
  display: grid;
  grid-gap: 5vh;
}
