.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .imgPerfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e05356;
    align-self: start;
  }
.h3{
  display: inline-block;
}
.mi{
  color: #e05356;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil{
  display: grid;
  grid-gap: 5vh;
}