.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  padding: 10px;
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color:#cdcdcb38;
  border-radius: 12px;
  border: 1px solid rgb(241, 244, 248); 
  max-width: 50%;
}
.btnBuscar{
  border: none;
  background-color: white;
}
@media only screen and (max-width: 800px) {

  .container{
    margin-top: 21vh;
    max-width: 80%;
    min-width: 70%;
    min-height: 65%;
  }
}
